<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand fw-bold fs-2" href="#">Techgears</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item container-fluid text-center">
                        <a class="nav-link fs-6 fw-semibold container-fluid text-white" aria-current="page"
                            href="#">Home</a>
                    </li>
                    <li class="nav-item container-fluid text-center">
                        <a class="nav-link fs-6 fw-semibold container-fluid text-white" href="#">About</a>
                    </li>
                    <li class="nav-item container-fluid text-center">
                        <a class="nav-link fs-6 fw-semibold container-fluid text-white" href="#">Products</a>
                    </li>
                    <li class="nav-item container-fluid">
                        <button type="button"
                            class="btn btn-primary fs-6 fw-semibold px-4 container-fluid">Contact</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="hero">
        <div class="container pt-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-lg-6 row g-4">
                    <h1 class="display-5 fw-bold"> <span class="text-primary">Discover</span> the Future of Tech</h1>
                    <p class="lead">Explore our latest gadgets and accessories designed to elevate your digital
                        lifestyle.
                    </p>
                    <button class="btn btn-primary px-4 py-2 fw-semibold fs-6" style="width: fit-content;">Shop
                        Now</button>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="../../../assets/hero.webp" alt="hero" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</header>